/***
 * NOT PART OF WORKSHOP
 *
 * It should not be necessary to familiarize oneself with this file for the workshop.
 */

@import '$lib/_workshop-internals/style/rpgui/rpgui.css';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--accent-color: #ffc193;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: gray;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Modifications to RPG UI */

.rpgui-button--small {
	height: 30px;
}

.rpgui-button--small-squared {
	height: 30px;
	width: 30px;
	min-width: 30px;
	max-width: 30px;
	padding: 0;
}

.rpgui-content .markdown h1 {
	margin: revert;
	text-align: start;
	font-size: 1.8em;
}

.rpgui-content .markdown h2 {
	margin: revert;
	text-align: start;
	font-size: 1.5em;
}

.rpgui-content .markdown h3 {
	margin: revert;
	text-align: start;
	font-size: 1.35em;
}

.rpgui-content .markdown h4 {
	margin: revert;
	text-align: start;
	font-size: 1.2em;
}

.rpgui-content .markdown code,
.rpgui-content .quest code {
	background-color: #ffff00;
	color: black;
	padding: 0.125em 0.5em;
	line-height: 1.25;
	text-shadow: none;
	font-family: monospace;
	font-weight: 600;
}

.rpgui-content .markdown *,
.rpgui-content .quest-log .quest > div * {
	-webkit-touch-callout: default;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
